$pressuraURL: "../fonts/GT-Pressura/GT-Pressura-Extended-Regular-Trial.woff2";
// $pressuraURL: "../fonts/GT-Pressura/GT-Pressura-Extended-Light-Trial.woff2";
// $pressuraURL: "../fonts/GT-Pressura/GT-Pressura-Extended-Medium-Trial.woff2";
// $pressuraURL: "../fonts/GT-Pressura/GT-Pressura-Extended-Text-Trial.woff2";
// $pressuraURL: "../fonts/GT-Pressura/GT-Pressura-Light-Trial.woff2";
// $pressuraURL: "../fonts/GT-Pressura/GT-Pressura-Medium-Trial.woff2";
// $pressuraURL: "../fonts/GT-Pressura/GT-Pressura-Mono-Regular-Trial.woff2";
// $pressuraURL: "../fonts/GT-Pressura/GT-Pressura-Text-Trial.woff2";


$alpinaURL: "../fonts/GT-Alpina/GT-Alpina-Fine-Extended-Thin-Italic-Trial.woff2";
// $alpinaURL: "../fonts/GT-Alpina/GT-Alpina-Fine-Standard-Light-Trial.woff2";
// $alpinaURL: "../fonts/GT-Alpina/GT-Alpina-Fine-Standard-Regular-Italic-Trial.woff2";
// $alpinaURL: "../fonts/GT-Alpina/GT-Alpina-Fine-Standard-Regular-Trial.woff2";
// $alpinaURL: "../fonts/GT-Alpina/GT-Alpina-Fine-Standard-Thin-Italic-Trial.woff2";
// $alpinaURL: "../fonts/GT-Alpina/GT-Alpina-Fine-Standard-Thin-Trial.woff2";
// $alpinaURL: "../fonts/GT-Alpina/GT-Alpina-Standard-Light-Italic-Trial.woff2";
// $alpinaURL: "../fonts/GT-Alpina/GT-Alpina-Standard-Light-Trial.woff2";
// $alpinaURL: "../fonts/GT-Alpina/GT-Alpina-Standard-Regular-Trial.woff2";
// $alpinaURL: "../fonts/GT-Alpina/GT-Alpina-Standard-Thin-Trial.woff2";


// $eestiURL: "../fonts/GT-Eesti/GT-Eesti-Display-Medium-Trial.woff2";
$eestiURL: "../fonts/GT-Eesti/GT-Eesti-Display-Regular-Trial.woff2";
// $eestiURL: "../fonts/GT-Eesti/GT-Eesti-Display-UltraLight-Trial.woff2";


// GT-Eesti-Text-Bold-Italic-Trial.woff2
// GT-Eesti-Text-Bold-Trial.woff2
// GT-Eesti-Text-Book-Italic-Trial.woff2
// GT-Eesti-Text-Book-Trial.woff2
// GT-Eesti-Text-Light-Italic-Trial.woff2
// GT-Eesti-Text-Light-Trial.woff2
// GT-Eesti-Text-Medium-Italic-Trial.woff2
// GT-Eesti-Text-Medium-Trial.woff2
// GT-Eesti-Text-Regular-Italic-Trial.woff2
// GT-Eesti-Text-Regular-Trial.woff2
// GT-Eesti-Text-Thin-Italic-Trial.woff2
// GT-Eesti-Text-Thin-Trial.woff2
// GT-Eesti-Text-ULight-Italic-Trial.woff2
// GT-Eesti-Text-UltraLight-Trial.woff2



// $sectraURL: "../fonts/GT-Sectra/GT-Sectra-Book-Trial.woff2";
// $sectraURL: "../fonts/GT-Sectra/GT-Sectra-Display-Light-Trial.woff2";
// $sectraURL: "../fonts/GT-Sectra/GT-Sectra-Display-Medium-Trial.woff2";
// $sectraURL: "../fonts/GT-Sectra/GT-Sectra-Display-Regular-Trial.woff2";
// $sectraURL: "../fonts/GT-Sectra/GT-Sectra-Fine-Book-Trial.woff2";
$sectraURL: "../fonts/GT-Sectra/GT-Sectra-Fine-Medium-Trial.woff2";
$sectraURL: "../fonts/GT-Sectra/GT-Sectra-Fine-Regular-Trial.woff2";
$sectraURL: "../fonts/GT-Sectra/GT-Sectra-Regular-Trial.woff2";


// $superURL: "../fonts/GT-Super/GT-Super-Display-Light.woff2";
$superURL: "../fonts/GT-Super/GT-Super-Display-Regular.woff2";


$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Black-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Black-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Bold-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Bold-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Compressed-Black-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Compressed-Black-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Compressed-Bold-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Compressed-Bold-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Compressed-Lazer-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Compressed-Lazer-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Compressed-Light-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Compressed-Light-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Compressed-Medium-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Compressed-Medium-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Compressed-Regular-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Compressed-Regular-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Compressed-Thin-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Compressed-Thin-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Condensed-Black-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Condensed-Black-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Condensed-Bold-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Condensed-Bold-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Condensed-Lazer-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Condensed-Lazer-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Condensed-Light-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Condensed-Light-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Condensed-Medium-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Condensed-Medium-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Condensed-Regular-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Condensed-Regular-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Condensed-Thin-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Condensed-Thin-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Expanded-Black-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Expanded-Black-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Expanded-Bold-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Expanded-Bold-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Expanded-Lazer-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Expanded-Lazer-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Expanded-Light-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Expanded-Light-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Expanded-Medium-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Expanded-Medium-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Expanded-Regular-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Expanded-Regular-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Expanded-Thin-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Expanded-Thin-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Extended-Black-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Extended-Black-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Extended-Bold-Italic-Trial.woff2";
$flexaURL: "../fonts/GT-Flexa/GT-Flexa-Extended-Bold-Trial.woff2";
// $flexaURL: "../fonts/GT-Flexa/GT-Flexa-Extended-Lazer-Italic-Trial.woff2";
// $flexaURL: "../fonts/GT-Flexa/GT-Flexa-Extended-Lazer-Trial.woff2";
// $flexaURL: "../fonts/GT-Flexa/GT-Flexa-Extended-Light-Trial.woff2";
// $flexaURL: "../fonts/GT-Flexa/GT-Flexa-Extended-Medium-Trial.woff2";
// $flexaURL: "../fonts/GT-Flexa/GT-Flexa-Extended-Regular-Trial.woff2";
// $flexaURL: "../fonts/GT-Flexa/GT-Flexa-Extended-Thin-Trial.woff2";
// $flexaURL: "../fonts/GT-Flexa/GT-Flexa-Light-Trial.woff2";
// $flexaURL: "../fonts/GT-Flexa/GT-Flexa-Medium-Trial.woff2";

// $flexaURL: "../fonts/GT-Flexa/GT-Flexa-Mono-Lazer-Trial.woff2";
// $flexaURL: "../fonts/GT-Flexa/GT-Flexa-Mono-Light-Trial.woff2";
// $flexaURL: "../fonts/GT-Flexa/GT-Flexa-Mono-Regular-Trial.woff2";
// $flexaURL: "../fonts/GT-Flexa/GT-Flexa-Mono-Thin-Trial.woff2";

// $flexaURL: "../fonts/GT-Flexa/GT-Flexa-Regular-Trial.woff2";
// $flexaURL: "../fonts/GT-Flexa/GT-Flexa-X-Expanded-Lazer-Trial.woff2";
// $flexaURL: "../fonts/GT-Flexa/GT-Flexa-X-Expanded-Light-Trial.woff2";
// $flexaURL: "../fonts/GT-Flexa/GT-Flexa-X-Expanded-Regular-Trial.woff2";


@font-face {
  font-family: "GT-Flexa";
  font-style: normal;
  font-weight: normal;
  src: url($flexaURL) format("woff");
}


@font-face {
  font-family: "GT-Super";
  font-style: normal;
  font-weight: normal;
  src: url($superURL) format("woff");
}


@font-face {
  font-family: "GT-Sectra";
  font-style: normal;
  font-weight: normal;
  src: url($sectraURL) format("woff");
}


@font-face {
  font-family: "GT-Eesti";
  font-style: normal;
  font-weight: normal;
  src: url($eestiURL) format("woff");
}


@font-face {
  font-family: "GT-Pressura";
  font-style: normal;
  font-weight: normal;
  src: url($pressuraURL) format("woff");
}


@font-face {
  font-family: "GT-Alpina";
  font-style: normal;
  font-weight: normal;
  src: url($alpinaURL) format("woff");
}


@font-face {
  font-family: "Graphik";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Graphik.woff2") format("woff");
}








